In [7]:
import numpy as np
import pandas as pd
import time

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("akram24/social-network-ads")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/akram24/social-network-ads?dataset_version_number=1...

100% 3.27k/3.27k [00:00<00:00, 2.35MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/akram24/social-network-ads/versions/1

In [13]:
# Load the dataset
df = pd.read_csv(path + "/Social_Network_Ads.csv")
print("Dataset loaded successfully.")

Dataset loaded successfully.

In [15]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0